body {
  background-color: lightgray;
}

.gradient-to-right {
  width: 800px;
  height: 200px;
  /* background-color: orange; */
  background-image: linear-gradient(to right, green 40%, red 60%);
}

.gradient-to-leftop {
  width: 800px;
  height: 200px; 
  background-image: linear-gradient(to left top, green, red);
}

.gradient-to-top {
  width: 800px;
  height: 200px;
  background-image: linear-gradient(to top, green, red);
  opacity: 0.5;
}

