* {
  /* margin: 0; */
}

html {
  font-size: 60px;
}

.container {
  background-color: green;
  display: flex;
  justify-content: space-around;
}

h3 {
  background-color: yellow;
  font-size: 10px;
}