* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.container {
  width: 500px;
  border: 5px solid black;
  margin-left: auto;
  margin-right: auto;
}

.container h1 {
  margin: 20px 0;
  color: red;
}
.box1 {
  width: 200px;
  height: 100px;
  background-color: beige;
  border: 2px solid red;
  text-align: center;
  line-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.box2 {
  width: 400px;
  height: 100px;
  background-color: burlywood;
  border: 2px solid greenyellow;
  /* text-align: center; */
  /* line-height: 100px; */
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
  box-sizing: border-box;
}

.box3 {
  width: 200px;
  height: 100px;
  background-color: beige;
  border: 2px solid red;
  text-align: center;
  line-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.box4 {
  width: 200px;
  height: 100px;
  background-color: burlywood;
  border: 2px solid greenyellow;
  text-align: center;
  line-height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}